.project-card {
    background-size: cover;
    background-position: center;
    background-clip: content-box;
    border: 2px solid white;
    height: 252px;
    width: 315px;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
    position: relative;
    margin: 0 auto;
    margin-top: 30px;
}

.project-card .fa-spinner {
    font-size: 180px;
    position: absolute;
    left: 25%;
    top: 25%;
}

.project-github {
    position: absolute;
    right: 40px;
    bottom: 4px;
    color: #34cafc;
    font-size: 1.2rem;
}

.project-about {
    position: absolute;
    right: 10px;
    bottom: 10px;
    color: #34cafc;
    font-size: 1.2rem;
}

h3.popover-header {
    color:white;
    background: #777777;
}

