.project-about.card-btn.btn.btn-secondary {
    background: transparent;
    border: none;
    position: absolute;
    bottom: 5px;
    right: 8px;
    margin-bottom: 0px;
    vertical-align: bottom;
    padding: 0px;
}


